<!-- views/moments.ejs -->
<!DOCTYPE html>
<html>

<head>
    <title>Precious Moments</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add Custom CSS -->
    <style>
        /*body {
            background-color: #f8f9fa;
            /* Set a light background color */
        /*background-image: url('https://dl8.glitter-graphics.net/pub/707/707658idt14mszrv.gif');
        /* Replace 'flowers-background.jpg' with your image URL */
        /*background-size: cover;*/
        /*background-attachment: fixed;
        }*/

        body {
            background-color: #f8f9fa;
            background-image: url('https://dl8.glitter-graphics.net/pub/707/707658idt14mszrv.gif');
            background-size: cover;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }

                /* Footer CSS */
                .footer {
    background-color: #000;
    color: #ecf0f1;
    padding: 10px 0;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu li {
    display: block; /* Hiển thị các mục danh sách dọc */
    margin-bottom: 10px; /* Khoảng cách giữa các mục danh sách */
    margin-left: 40px;
    text-align: left;

}

.footer-menu a {
    text-decoration: none;
    color: #ecf0f1;
    font-family: 'Raleway', 'serif'; /* Font chữ nghệ thuật */

}

.footer-info {
    text-align: right;
    margin-right: 30px; /* Canh lề phải để tạo khoảng cách cho phần thông tin */
    font-family: 'Raleway', 'serif'; /* Font chữ nghệ thuật */

}

.footer-icons img {
    width: 50px; /* Đặt kích thước chiều rộng */
    height: auto; /* Giữ tỷ lệ khung hình */
    margin: 5px; /* Tạo khoảng cách giữa các biểu tượng */
    margin-left: 55px;
}


        


        .moment-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .moment {
            width: calc(33.33% - 10px);
            margin: 5px;
            border-radius: 10px;
            transition: transform 0.3s;
        }

        .moment:hover {
            transform: translateY(-5px);
        }

        .moment img {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }


        .moment p {
            font-family: 'Arial', sans-serif;
            font-size: 18px;
            margin: 10px 0;
        }

        h1 {
            text-align: center;
            font-size: 36px;
        }

        .btn-action {
            margin-right: 5px;
        }

        /* code sau
        /* Fixed navigation bar at the top */
        .fixed-navbar {
            position: sticky;
            top: 0;
            width: 100%;
            background-color: #3498db;
            z-index: 999;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            padding: 10px 0;
        }

        /* Style for the navigation links */
        .fixed-navbar a {
            color: #fff;
            margin: 0 10px;
            text-decoration: none;
            transition: color 0.3s;
        }

        .fixed-navbar a:hover {
            color: #ffcc00;
            /* Change to your desired hover color */
        }

        /* Custom title header */
        .title-header {
            text-align: center;
            padding: 20px 0;
        }

        .navbar {
    background-color: #0B0C10;
    color: #C5C6C7;
    padding: 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

        .navbar-brand {
            color: #fff;
            /* Màu chữ của tiêu đề hoặc logo */
            font-size: 24px;
            /* Kích thước chữ */
            padding: 20px 0;
            /* Tạo khoảng cách giữa logo và danh sách menu */
        }

        .nav-link {
            color: #fff;
            /* Màu chữ của các mục menu */
            font-size: 18px;
            /* Kích thước chữ */
            padding: 10px 20px;
            /* Tạo khoảng cách giữa mục menu */
        }

        .nav-link:hover {
            background-color: #ffcc00;
            /* Màu nền khi rê chuột qua */
            color: #3498db;
            /* Màu chữ khi rê chuột qua */
        }

        /* CSS để tạo hiệu ứng hover */
        .moment-card {
            transition: transform 0.3s;
        }

        .moment-card:hover {
            transform: scale(1.05);
            /* Phóng to lên 5% khi rê chuột vào */
        }

        .moment-info {
            display: flex;
            flex-direction: column;
        }

        .moment-image {
            max-height: 300px;
            object-fit: cover;
        }

        .moment-details {
            padding: 10px;
        }
        /*kkkkkkkkkkkkkkkkkkkkkkkkk*/
        .navbar {
    background-color: #000; /* Màu nền của thanh navigation bar */
    color: #C5C6C7; /* Màu chữ trên thanh navigation bar */
    padding: 30px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    flex: 1;
}

.logo img {
    width: 200px; /* Kích thước logo */
    height: auto;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    font-family: 'Raleway', serif;
    text-decoration: none;
    color: #fff; /* Màu chữ trên thanh navigation bar */
    font-weight: bold;
    transition: color 0.3s;
    background-color: 0.3s; /* Hiệu ứng chuyển đổi màu */
    padding: 10px 20px; /* Khoảng cách giữa các mục menu */
    border-radius: 5px; /* Độ bo tròn viền */
    font-size: 20px; /* Đặt kích thước chữ tại đây, ví dụ 20px */

}

.menu a:hover {
    color: #000; /* Màu chữ khi hover */
    background-color: #f0f0f0; /* Màu nền khi hover */
}

/*thanh title*/
.custom-title {
    background-color: #ebe4e0; /* Màu nền nhạt hơn, giống màu cà phê sữa */
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #542a00; /* Màu chữ */
    font-size: 36px; /* Kích thước chữ */
    font-family: 'Georgia', 'serif'; /* Font chữ nghệ thuật */
}

#myBtn2 {
position: fixed;
bottom: 10px;
right: 10px;
z-index: 99;
border: none;
outline: none;
color: white;
cursor: pointer;
border-radius: 30px;
background-color: #00cc00;
width:60px;
height:60px;
padding:10px;
opacity: 0.9;
}
 
#myBtn2:hover {
background-color: #555;
}

    </style>
</head>
<body>

<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>

<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "107592234942427");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v18.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>






    <!-- Fixed navigation bar at the top -->
    <button id="myBtn2" style="background:#71a6eb" onclick="window.location.href='https://m.me/09nmc'"><img src='/uploads/fbmess.png' title='Chat Messenger' width='40px'/></button>

    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#"><img src="/uploads/C.png" alt="Logo"></a>
            </div>
            <ul class="menu">
                <li><a href="/">Trang Chủ</a></li> <!-- Thay đổi nút Home thành Trang Chủ và đặt liên kết đến trang chính (moments.ejs) -->
                <li><a href="https://www.facebook.com/09nmc">Cường Nguyễn</a></li> <!-- Thay đổi nút Shop thành Cường Nguyễn và đặt liên kết đến trang Facebook của bạn -->
                <li><a href="/add">Add Moment</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>
    
    <!-- Custom title header -->
    <div class="title-header">
        <h1 class="custom-title">PREIOUS MOMENTS</h1>
    </div>
    <div class="total"></div>
    <p>Total Pictures: <%= moments.length %>
    </p>
    </div>
    <!--iv class="moment-list">
        <% moments.forEach(function(moment) { %>
            <div class="moment card" id="moment-<%= moment.id %>">
                <a href="/moment/<%= moment.id %>">
                    <img src="<%= moment.urlpicture  %>" alt="<%= moment.description %>" class="card-img-top">
                </a>
                <div class="card-body">
                    <h5 class="card-title"><strong>Occasion:</strong>
                        <%= moment.occasion %>
                    </h5>
                    <p class="card-text"><strong>Date Taken:</strong>
                        <%= moment.date %>
                    </p>
                    <p class="card-text"><strong>Location:</strong>
                        <%= moment.location %>
                    </p>
                    <p class="card-text"><strong>Description:</strong>
                        <%= moment.description %>
                </div>
            </div>
            <% }); %>
    </div>-->
    <div class="container mt-5">
        <div class="row">
            <% moments.forEach(function(moment) { %>
                <div class="col-md-4 mb-4">
                    <div class="card moment-card">
                        <a href="/moment/<%= moment.id %>">
                            <img src="<%= moment.urlpicture %>" class="card-img-top moment-image"
                                alt="<%= moment.description %>">
                        </a>
                        <div class="moment-details">
                            <h5 class="card-title">
                                <%= moment.occasion %>
                            </h5>
                            <p class="card-text"><strong>Date Taken:</strong>
                                <%= moment.date %>
                            </p>
                            <p class="card-text"><strong>Location:</strong>
                                <%= moment.location %>
                            </p>
                            <p class="card-text"><strong>Description:</strong>
                                <%= moment.description %>
                            </p>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>





        <!-- Footer -->
        <div class="footer">
            <div class="footer-content">
                <div class="footer-menu">
                    <ul>
                        <li><a href="/">Trang Chủ</a></li>
                        <li><a href="https://www.facebook.com/09nmc">Cường Nguyễn</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

                <div class="footer-icons">
                    <a href="https://www.facebook.com/09nmc"><img src="/uploads/fb.jpg" alt="Facebook"></a>
                    <a href="/uploads/qrzl.jpg"><img src="/uploads/zalo-icon.png" alt="Zalo"></a>
                    <a href="/uploads/qrig.jpg""><img src="/uploads/jg.jpg" alt="Instagram"></a>
                    <a href="https://www.tiktok.com/@daylamanhcuong"><img src="/uploads/tt.jpg" alt="TikTok"></a>
                    <a href="#"><img src="/uploads/twt.jpg" alt="Twitter"></a>
                </div>


                <div class="footer-info">
                    <p>Địa chỉ: Địa chỉ của bạn</p>
                    <p>Số điện thoại: Số điện thoại của bạn</p>
                    <p>Email: Email của bạn</p>
                </div>
            </div>
        </div>
</body>

</html>
